@model SibersTestTask.Models.Employees.EmployeeDetailsViewModel

@{
ViewBag.Title = "Employee list";
Layout = "_Layout";
var employee = Model.Employee;
}

<h2>Employee details</h2>
<button class="btn btn-danger" id="delete-btn">Delete</button>
@* <a asp-action="Edit" asp-route-id="@project.Id" class="btn btn-info" >Edit</a> *@


<dl class="row">

    <dt class="col-sm-3">Id</dt>
    <dd class="col-sm-9">@employee.Id</dd>


    <dt class="col-sm-3">First Name</dt>
    <dd class="col-sm-9">@employee.Name</dd>

    <dt class="col-sm-3">Middle Name</dt>
    <dd class="col-sm-9">@employee.Surname</dd>


    <dt class="col-sm-3">Last Name</dt>
    <dd class="col-sm-9">@employee.Patronymic</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@employee.Email</dd>
</dl>

<script>
    const deleteBtn = document.getElementById("delete-btn");
    deleteBtn.onclick = function(event) {
        const isOk = confirm('Are you sure about that?');
        if (isOk) {
            fetch("@Url.Action("Delete")" + "/@employee.Id", {
                method: 'DELETE'})
                .then((response) => {
                    window.location.replace("@Url.Action("List")");
                });
        }
    };
</script>